*{
    background-color: rgb(97, 226, 114);
}
#a1{
    color: rgb(10, 126, 44);
    text-align: center;
    font-size: 40px;
    background-color: rgb(8, 31, 24);
    height: 65px;   
    padding-top: 25px;
    border-radius:6px ; 
} 
#a2,#a3,#a5,#a6,#a8,#a9,#a10
{
 color: rgb(8, 31, 24);
 font-size: 27px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 50px; 
  
} 
#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9   
{
    font-size: 21px;    
}
#a4,#a7
{
    background-color: rgb(8, 31, 24);
    color:rgb(10, 126, 44) ;
    text-align: center;
    height: 40px;   
    width:300px; 
    border-radius: 25px;  
    position: relative;
    left :450px;  
    padding-top: 5;  
}
#img 
{ 
    height:300px;      
    width: 300px;      
    background-image:url("pass.jpg");
    background-size: cover; 
    border-width: 5px; 
    border-color: rgb(8, 31, 24); 
}
#pp
{
    text-transform: none; 
}
#img2
{  height: 250px;
    width: 250px; 
    background-image: url("tras.jpg");
    background-size: cover;
}
#img3
{  height: 250px;
    width: 250px; 
    background-image: url("amp.jpg");
    background-size: cover;
}
#img4
{  height: 250px;
    width: 250px; 
    background-image: url("lg.jpg"); 
    background-size: cover;
}
#img5
{  height: 250px;
    width: 250px; 
    background-image: url("reg.jpg"); 
    background-size: cover;
}
#img6
{  height: 250px;
    width: 250px; 
    background-image: url("cap.jpg"); 
    background-size: cover;
}
#img7
{  height: 250px;
    width: 250px; 
    background-image: url("sen.jpg"); 
    background-size: cover;
}
#img8 
{  height: 250px;
    width: 250px; 
    background-image: url("ind.jpg"); 
    background-size: cover;
} 
#a11
{
    display:inline-block;
    color: rgb(33, 95, 25);
    position: relative;
    left: 470px;  
    font-size: 30px;  
    font-weight: bold; 
    
}  
